<!DOCTYPE html>
    <!-- This will appear on all pages -->
	<html>
		<!-- This will link this page with its css file Master.css -->
		<link rel="stylesheet" type="text/css" href="stylesheet/Master.css">
	    <!-- This will link this page with its BOOTSTRAP -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<link rel="icon" href="/images/favicon.ico">
			
		<head>
			<title>My Login</title> <!-- This will appear as the title page for first page -->
		</head>
	
		<body>
					<!-- This will be the start of navigation bar -->	
					<nav class="nav navbar-default" style="background-color: #000000;" >
						<div class="container-fluid">
							<div class="navbar-header">
								<br>
								<img class="nav navbar-nav navbar-left" src="https://www.taarak.com/img/logo.png">
									<br>
									<a  class="nav navbar-nav navbar-center navbar-brand">
									 	<b><h2>TAARAK INDIA</h2></b>
									<br>	
									<a  class="nav navbar-nav navbar-center navbar-brand"S>
										<b><h5>Security Is Everyone’s Concern... But It’s Our Business</h5></b>
								    </a>	<!--  -->
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav navbar-right">
									<li>
										<a href="\login">
											<H4>Staff-Login</H4>
										</a>
									</li>
								<!--  -->
									<li>	
										<a href="\adminlogin">
											<H4>Admin</H4>
										</a>
									</li>
									
								<!--  -->
									<li>	
										<a href="\logout">
											<H4>Sign-Out</H4>
										</a>
									</li>
								<!--  -->
								</ul>
							</div>
						</div>
					</nav>
					<!-- This will be the end for navigation bar -->
                
                <br>
                <br>


				
					

				