<!DOCTYPE html>
    
	<html>
		<!-- This will link this page with its css file Master.css -->
		<link rel="stylesheet" type="text/css" href="stylesheet/Master.css">
	    <!-- This will link this page with its BOOTSTRAP -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- This will link this page with its BOOTSTRAP -->
  		<link rel="icon" href="/images/favicon.ico">
			
		<head>
			<title>TARAAK</title> <!-- This will appear as the title page for first page -->
		</head>
	
		<body>

			<!-- This will be the start of navigation bar -->	
			<nav class="nav navbar-default" style="background-color: #0f0f00;" >
				<div class="container-fluid">
					<div class="navbar-header">
						<div class="row">
							<div class="col-md-3">
								<img class="nav navbar-nav navbar-left" src="https://www.taarak.com/img/logo.png">
							</div>	
						</div>	
					</div>
					
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
						<% 
							if(!currentUser)
								{%>
					                <li>
					                	<a href="/login">
					                		<b>
					                			LOGIN
					                		</b>
					            		</a>
					        		</li>

					                <li>
					                	<a href="/adminlogin">
					                		<b>
					                			ADMIN
					                		</b>
					                	</a>
					                </li>
								<%}

			                else
			                	{%>
				                	<li>
				                		<a href="">
				                			<b>
				                				<%=currentUser.username%>			 			
				                			</b>
				                			</a>
				                	</li>

				                	<li>
				                		<a href="/logout">
				                			<b>
				                				LOGOUT
				                			</b>
				                		</a>
				                	</li>
			                	<%}
		                %>
						</ul>
					</div>
				</div>
			</nav>
			<!-- This will be the end for navigation bar -->

			<!-- This will be the start of navigation bar -->	
			<nav class="nav navbar-default" style="background-color: #000000;" >
				<div class="container-fluid">
					<div class="navbar-header">
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="/">
										<b>
											HOME
										</b>
									</a>
								</li>

 								<%
 									if(!currentUser)
 										{%>
 										<%}

 									else
 										{%>
 											<%
 												if(currentUser.type==="admin")
 													{%>
           												<li>
           													<a href="/admin/admindashboard">
           														<b>
           															ADMIN DASHBOARD
           														</b>
           													</a>
           												</li>
               										<%}

               									else if(currentUser.type==="user")
               										{%>
  														<li>
  															<a href="/stafflogin">
  																<b>
  																	DASHBOARD
  																</b>
  															</a> 
  														</li>
            										<%}
            								%>			
										<%}
								%>
							</ul>
						</div>
					</div>
				</div>
			</nav>

			<div class="container">
				<%
					if (error && error.length > 0) 
						{%>
							<br>
							<br>
	       					<div class="alert alert-danger" role="alert">
	         				<%= error %>
	       					</div>
	     				<%} 
	     		%>

	     		<% 
	     			if (success && success.length > 0)
	     				{%>
	     					<br>
	     					<br>
	       					<div class="alert alert-success" role="alert">
	         				<%= success %>
	       					</div>
	       				<%}
	       		%>
   			</div>