<%include ./partials/header%>


	<h1><b><em>Our Taarak Support </em></b></h1>

	<table width="150px" border="solid">
		<tr>
			<td>
				<div>
				<a href='/registerAdmin'><button class="btn btn-md btn-primary btn-block">Create New Admin</button></a>
			</td>
		</tr>
		
		<tr>
			<td	
				<br>
				<a href='/new'><button class="btn btn-md btn-primary btn-block">Create New User</button></a>
				</div> 
			</td>
		</tr>
	</table>
	

<%include ./partials/footer%>