<%include ./partials/header%>

<center>
	<h1>
		<b>
			<em>
				NEW AGE ATTENDANCE TRACKING FORM
			</em>
		</b>
	</h1>
</center>

<hr>

<div class="row">
	<div class="col-md-9">
		<form action="/attendanceform" method="POST">
			<div class="form-group">
				<button class=" btn btn-lg btn-default btn-primary btn-block">
					MARK YOUR ATTENDANCE
				</button>
			</div>
		</form>
	</div>
</div>

<%include ./partials/footer%>