<%include ./partials/header%>

<br>

<br>

<br>

<br>

<center>
	<div class="container-fluid"> 
		<header class="jumbotron">
			<div class="container"> 
				<h2>New Age Attendance and Daily Activity Tracking System.</h3>
			</div>
		</header>
	</div>
</center>

<%include ./partials/footer%>