<%include ./partials/header%>
<br>
<center>
<div class="container"> 
	<header class="jumbotron">
		<div class="container"> 
			<h2>ARTISM9 WELCOMES YOU TO</h2>
			<br>
			<h2>New Age Attendance and Daily Activity Tracking System.</h3>
		</div>
	</header>
</div>
</center>
<%include ./partials/footer%>