<%include ./partials/header%>

<center>
	<h1>
		<b>
			<em>
				ATTENDANCE SHEET
			</em>
		</b>
	</h1>
</center>

<hr>

<div class="container-fluid">	    
	<div class="well">     
		<%user.attendance.reverse().forEach(function(atti)
			{%>
				<div class="row">
					<div class="col-md-12">   
						<span  text-transform="capitalize">
							<%=atti.timeplz%>
						</span>              

						<hr>           
					</div>
				</div>                                 
			<%});
		%>        
	</div>
</div>

<%include ./partials/footer%>