					<%include ./partials/header%>

					<p>
						Hello hope you are doing well.
						Have a nice day, work good, be safe and keep updating your tracks.
					</p>
					
					<hr>
		
					<form>
						<div>
							<label for="Working_Today">
								Select Today Date :
							</label>
  							<input type="Date" id="Working_Today" name="Working_Today" min="" max="" />

  							<label for="destination">
  								Destination :
  							</label>
							<input type="text" name="" />

							<button type="button" onclick="document.getElementById('tt').innerHTML = Date()">attandance</button>
							<p id ="tt"></p>	
						</div>
					</form>

					<%include ./partials/footer%>
					