<%include ./partials/header%>

<center>
	<h1>
		<b>
			<em>
				LIST OF REGISTERED USERS
			</em>
		</b>
    </h1>
</center>

<hr>

<div class="container-fluid">
	<div class="well">      
		<% user.forEach(function(users)
			{%>
		    	<div class="row">
		        	<div class="col-md-12">
		            	<a href="admin/<%=users._id%>" class="btn btn-success" >
		                	<%=users.username%>
		           		</a>

		           		<hr>
		        	</div>
		    	</div>                             
			<%});
		%>
	</div>
</div>

<%include ./partials/footer%>