					<%include ./partials/header%>

					<h1><b><em>Thank You for your precious time, your response has been successfully recorded.</em></b></h1>
					<h1><b><em>Our Taarak Support will contact you soon.</em></b></h1>
					
					<%include ./partials/footer%>